.current-page {
    font-weight: bold;
}

.page {
    margin: 2rem;
    padding-bottom: 2rem;

}

.footer {
  padding-top: 2rem;
}

/* Font Styles*/
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 1rem;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration:none;
}
.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 1rem;
}
h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}


.web-labels {
  padding-top: 1.5rem;
  padding-bottom:0.75rem;
}

.videos {
  margin-top: -1.5rem;
}



 /* Mobile Sliders */

  
 
 .tns-outer {

  }
  
  .tns-controls {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
  }
  
  .tns-controls button {
    background-color: o;
    border: 1px solid black;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  }

  


 /* Mobile Mockup */

.mockup {
    padding-bottom: 1rem;
  }


 /* Symbol Motion Mobile Grid */

.my-slider {
  background-color:  #f3e9e5;
}


.website-grid {
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
 }


/* Header*/
.header {
  padding-bottom: 1rem;
  display:flex;
  color:gray;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: gray;
}
.work {
  padding-left: 11rem;
}

.hero {
  padding-bottom: 1rem;
}



  .text {
    padding: 1rem;
  }
  .mockup {
    padding-top: 1rem;
  }



    
  @media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }      
}