.current-page {
    font-weight: bold;
}

.page {
    margin: 2rem;
}
h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}
* {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  img {
    display: block;
    max-width: 100%;
  }

  .horizontal-container {
    display: flex;
    overflow: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mockup {
    padding-bottom: 1rem;
  }

.symbol-motion-grid {
 display:grid;
 grid-template-columns: 1fr 1fr;
 gap: 1rem;
 margin: 0 auto;
}

.symbol-motion-pictures {
  background-color: #f3e9e5;
}


  .box {
    margin-right: 1rem;
    min-width: 400px;
  }
  .text {
    padding: 1rem;
  }

  .videos {
      margin-top: 1rem;
      margin-bottom: 1rem;
    
  }
  @media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }      
}