html {
    --cream: #FDFCF8;
    --orange: #DF6026;
    --gray-light: #6A6A6A;
    background-color: #FDFCF8;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:var(--gray-light)
}

.container {
    display: flex;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.header img {
    border: 3px solid #DF6026;
    border-left: none;
    border-radius: 0px 200px 200px 0px;
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 340px;
    height: 240px;
    display: flex;
    object-fit: cover;
    
}

.second img {
    border: 3px solid #DF6026;
    border-right: none;
    border-radius: 200px 0px 0px 200px;
    margin-left: auto;
    margin-right: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 270px;
    height: 220px;
    display: flex;
    object-fit: cover;
    object-position: 50% 50%;


}

.food img{
    border: 2.5px solid #DF6026;
    border-right: none;
    border-radius: 200px 0px 0px 200px;
    margin-left: auto;
    margin-right: none;
    margin-top: 3rem;
    width: 200px;
    height: 70px;
    display: flex;
    object-fit: cover;
    position: relative; 
    top: 5.25rem;
    margin-top:-2rem;
  }

.fa-bars {
    color:#DF6026;
    margin-top: 2.6rem;
    margin-left: 2rem;
    }   

 .fa-instagram {
     color:#FDFCF8
    } 
    
 .fa-facebook-f {
     color: #FDFCF8;
 }   
    
 .fa-twitter {
     color: #FDFCF8;
 }
 .social {
     display:block;
     margin-left: 14rem;
     padding:1rem;
     margin-right: auto;
     margin-top:-6rem;
 }

 i {
     padding:0.5rem;
 }

 .handle {
    margin-top: -2rem;
    margin-left:14rem;
    margin-right:auto;
}

.cinnamon {
    margin-bottom: 2.5rem;
    margin-top:-2rem;
}

.bakery {
    margin-bottom:2.5rem;
}
.med {
    margin-bottom:-1rem;
}



h1 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #DF6026;
    margin-top: 2rem;

}
h2 {
    font-size: 17px;
    font-weight:700;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #DF6026;
    width: 70%;
    display:flex;
    margin-left: 3rem;

}
h3 {
    font-weight:700;
    font-size: 45px;
    margin-left: 1.5rem;
    margin-top:2rem;
    color: #DF6026;
}

h4 {
    font-weight: 600;
    font-size: 30px;
    margin-top:0.5rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    max-width: 40%;
    color: #DF6026;
}

h5 {
    font-weight: 600;
    font-size: 20px;
    margin-left: 1.5rem;
    margin-top:1rem;
    margin-bottom: 0.5rem;
    color: #DF6026;
    }

div td {
    margin-bottom:-5rem;
}


p {
    
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    color:var(--gray-light)
}

h6 {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    color:#6A6A6A;
    margin-left: 1.5rem;
}

table {
    width: max;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    }

td { 
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: .25rem;
    color:var(--gray-light);
    vertical-align: top;
}
td:first-child {
    width:72%; 
}

td p {
    color:#6A6A6A;
    font-weight: 400;
    font-size:12px;
    margin-top:.3rem;
    margin-bottom:.2rem;
    width:80%;
}

td div {
    margin-top: -6.25rem;
}

tr {
    padding: 1rem; 
}

.grid{
    display: grid;
    grid-template-columns: [full-start] minmax(0rem, 0fr) [main-start] minmax(0,1280px) [main-end]  minmax(0rem, 0fr) [full-end];
}

.grid > * {
    grid-column: main;
}
header {
    background-color: var(--gray-dark);
    color:#DF6026
    padding 1rem 0;
}

.overview {
    background-color: var(--gray);
    padding: 4rem 0;
    color: #DF6026;

}

figure {
    margin-top: 2rem;
}

figure img{
    margin-bottom: 1rem;
}

figcaption {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}

.sample{
    padding: 5rem 0;
}
footer{
    background-color: var(--orange);
    padding: 1.5rem 0;
}

footer p{ 
    margin-bottom: 0;
    color: (var(--cream));
}

.map img {
    border: 2px solid #DF6026;
    border-radius: 50px 50px 50px 50px;
    margin-right: auto;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 250px;
    height: 200 px;
    display: flex;

}

button {
margin-top: 1rem;
margin-bottom: 3rem;
margin-left: 1rem;
color:#FDFCF8;
background-color: #DF6026;
font-weight:700;
font-size: 14px;
width: 150px;
height: 65px;
border: 3px solid #DF6026;
border-radius: 200px 200px 200px 200px;
}

h7{
    font-weight:600;
    color:#FDFCF8;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom:0.5rem;
}

.sandwich {
    color:#6A6A6A;
    font-weight: 600;
    font-size:20px;
    width:80%; 
}





/* Desktop Media Query */
@media screen and (min-width: 1400px) {
        .logo img {
            width: 100px;
            height: 100px;
            margin-top: 1rem;
            margin-right: -3rem;
            margin-left: 17rem;
        }
        .header img {
            object-fit: cover;
            border: 3px solid #DF6026;
            border-left: none;
            border-radius: 0px 300px 300px 0px;
            margin-top: 1rem;
            margin-right: 1.5rem;
            width: 2000px;
            height: 600px;
            display: flex;
            margin-top: 4rem;
            margin-bottom: -3rem;
            
        }
    
        .second img {
            visibility: hidden;
        }

        .food img{
            border: 2.5px solid #DF6026;
            border-right: none;
            border-radius: 400px 0px 0px 400px;
            margin-left: auto;
            margin-right: none;
            padding-right: none;
            margin-top: 3rem;
            width: 800px;
            height: 300px;
            display: flex;
            object-fit: cover;
            position: relative; 
            top: 5.25rem;
            margin-top: 10rem;
        }


    
    }
        .coffee {
            margin-left: 4rem;
        }



        .grid > * {
            grid-column: main;
        }

        .fa-bars {
            visibility: hidden;
            }   

        .hero {
            display: flex;
            justify-content: center;
        }    


        td p {
            color:#6A6A6A;
            font-weight: 400;
            font-size:12px;
            margin-top:.3rem;
            margin-bottom:.2rem;
            margin-left:4rem;

        }   
        h4 {
            margin-left: 4rem;
        }
        .container {
            display: flex;
            margin-left:auto;
            margin-right: auto;
        }
        .gelato-price1 { 
            margin-top: 2rem;
        }
        .price {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .last-grid {
            margin-left:4rem;
        }
        td p {

}