html {
    --cream: #FDFCF8;
    --orange: #DF6026;
    --gray-light: #6A6A6A;
    background-color: #FDFCF8;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:var(--gray-light)
}

.container {
    display: flex;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.logo img {
    width: 70px;
    height: 70px;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.header img {
    border: 3px solid #DF6026;
    border-left: none;
    border-radius: 0px 200px 200px 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    width: 400px;
    height: 200px;
    display: flex;
    object-fit: cover;
}

.second img {
    border: 3px solid #DF6026;
    border-right: none;
    border-radius: 200px 0px 0px 200px;
    margin-left: auto;
    margin-right: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 290px;
    height: 150px;
    display: flex;
    object-fit: cover;


}

.food img{
    border: 3px solid #DF6026;
    border-right: none;
    border-radius: 200px 0px 0px 200px;
    margin-left: auto;
    margin-right: none;
    margin-top: 3rem;
    width: 200px;
    height: 100px;
    display: flex;
    object-fit: cover;
  }
h1 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--orange);
    margin-right: auto;
    margin-top: 2rem;

}
h2 {
    font-size: 20px;
    font-weight:700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--orange);
    width: 80%;
    display: flex;
    margin-left: 0.5rem;
}
h3 {
    font-weight:700;
    font-size: 45px;
    margin-left: 0.5rem;
}

h4 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    max-width: 30%;
}

h5 {
    font-weight: 600;
    font-size: 20px;
    margin-left: 0.5rem;
    }

p {
    
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    color:var(--gray-light)
}

h6 {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    color:var(--gray-light)
}

table {
    width: max;
    margin-left: 0.5rem;
    margin-right: 1rem;
    }

td { 
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: .25rem;
    color:var(--gray-light);
}
td:first-child {
    width:90%;
    
}

tr {
    padding: 1rem; 
}

.grid{
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0,1280px) [main-end]  minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}
header {
    background-color: var(--gray-dark);
    color:#DF6026
    padding 1rem 0;
}

.overview {
    background-color: var(--gray);
    padding: 4rem 0;
    color: #DF6026;

}

figure {
    margin-top: 2rem;
}

figure img{
    margin-bottom: 1rem;
}

figcaption {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}

.sample{
    padding: 5rem 0;
}
footer{
    background-color: var(--orange);
    padding: 1.5rem 0;
}

footer p{ 
    margin-bottom: 0;
    color: (var(--cream));
}

.map img {
    border: 2px solid #DF6026;
    border-radius: 40px 40px 40px 40px;
    margin-right: auto;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 250px;
    height: 200 px;
    display: flex;

}

button {
margin-top: 1rem;
margin-bottom: 3rem;
margin-left: 0.5rem;
color:#FDFCF8;
background-color: #DF6026;
font-weight:700;
font-size: 14px;
width: 150px;
height: 65px;
border: 3px solid #DF6026;
border-radius: 200px 200px 200px 200px;
}

h7{
    font-weight:600;
    color:#FDFCF8;
    margin-top: 1rem;
}

@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }      
}
